<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IUserManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IFriendsManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IChatManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IPasswordRecoveryManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IEmailVerificationManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ILeaderboardManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IStatusManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ILobbyManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ILobbyBrowser">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8081/UserManager" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IUserManager" contract="TripasDeGatoServicio.IUserManager"
                name="NetTcpBinding_IUserManager">
                <identity>
                    <userPrincipalName value="Z\cv419" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8081/FriendsManager" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IFriendsManager" contract="TripasDeGatoServicio.IFriendsManager"
                name="NetTcpBinding_IFriendsManager">
                <identity>
                    <userPrincipalName value="Z\cv419" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8081/ChatManager" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IChatManager" contract="TripasDeGatoServicio.IChatManager"
                name="NetTcpBinding_IChatManager">
                <identity>
                    <userPrincipalName value="Z\cv419" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8081/PasswordRecoveryManager"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPasswordRecoveryManager"
                contract="TripasDeGatoServicio.IPasswordRecoveryManager" name="NetTcpBinding_IPasswordRecoveryManager">
                <identity>
                    <userPrincipalName value="Z\cv419" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8081/EmailVerificationManager"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IEmailVerificationManager"
                contract="TripasDeGatoServicio.IEmailVerificationManager"
                name="NetTcpBinding_IEmailVerificationManager">
                <identity>
                    <userPrincipalName value="Z\cv419" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8081/LeaderboardManager"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILeaderboardManager"
                contract="TripasDeGatoServicio.ILeaderboardManager" name="NetTcpBinding_ILeaderboardManager">
                <identity>
                    <userPrincipalName value="Z\cv419" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8081/StatusManager" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IStatusManager" contract="TripasDeGatoServicio.IStatusManager"
                name="NetTcpBinding_IStatusManager">
                <identity>
                    <userPrincipalName value="Z\cv419" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8081/LobbyManager" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ILobbyManager" contract="TripasDeGatoServicio.ILobbyManager"
                name="NetTcpBinding_ILobbyManager">
                <identity>
                    <userPrincipalName value="Z\cv419" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8081/LobbyBrowser" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ILobbyBrowser" contract="TripasDeGatoServicio.ILobbyBrowser"
                name="NetTcpBinding_ILobbyBrowser">
                <identity>
                    <userPrincipalName value="Z\cv419" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>